body {
    background-image: url("../images/back.jpg"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #1a237e;
}
form{
    margin:5%;
    margin-top: 30px;
}

.right{
    position: absolute;
    right: 5%;
}

.left{
    margin-left: 5%;
}

.icon{
    width: 50px;
    background: #00B7FF;
}

input{
    padding-left: 5px;
    display: block;
    width: 100%;
    background-color: white;
    border:none;
    height: 30px;
    margin: 10px 0px 10px 0px;
    border-radius: 3px;
}

.form-heading{
    margin: 5%;
    font-size: 20px;
    font-weight: 2.3em;
    color: white;
}

.error-message{
    color: red;
    font-size: 12px;
}

.submit-button{
    border: none;
    background-color: #00B7FF;
    height: 30px;
    width: auto;
    left: 5%;
    margin: 10px 0px 0px 87%;
    
}

.middle{
    height: 40%;
    background: rgba(255, 255, 255, 0.4);
    width: 25%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 5px;
}
